body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(#fff, #75dba9);
}

#container1 {
    text-align: center;
    margin: 50px auto;
}

h1 {
    color: #333;
}

h2 {
    color: #666;
}
.btn1{
    display: inline-block;
    background: #079852;;
    color: white;
    padding: 8px 30px;
    margin: 20px 30px 0px ;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn1:hover{
    background: #02592f;            
}
#note-card-list {
    display: flex;
    flex-direction: column; /* Change to column */
    align-items: center; /* Center horizontally */
    margin-top: 20px;
}

.note-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 600px; /* Adjust width as needed */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
